@media (max-width: 1220px) {

  :root {
    --gap: 30px;
  }

  .header__burger, .form-block {
    display: inline-block;
  }

  .header__bottom,
  .header-top__midle {
    display: none;
  }

  .nav:has(.desktop),.login:has(.desktop) {
    display: none;
  }

  .nav:not(:has(.desktop)) {
    margin-bottom: 73px;
  }

  .nav__link-text {
    line-height: 64px;
  }

  .login {
    width: max-content;
  }

  .flex-property {
    display: flex;
    flex: 1 0 30%;
  }

  .justify-content-start {
    display: flex;
    justify-content: flex-start;
  }

  .justify-content-center {
    justify-content: center;
  }

  .justify-content-end {
    justify-content: end;
  }

  .search-form__input {
    width: 100%;
    max-width: 218px;
    margin-right: 24px;
  }

  .header-top__search-btn {
    margin-right: 9.5px;
  }

  .card__content {
    padding: 10px 30px;
    padding-bottom: 40px;
  }

  .feedback__container {
    flex-wrap: wrap;
  }

  .feedback__form-descr {
    margin-bottom: var(--gap);
  }

  .feeadback__form {
    margin-bottom: var(--gap);
  }

  .feedback__form-input {
    padding: 9px 45px 9px 24px;
  }

  .accordion__inner-list {
    column-count: 2;
}

@media (max-width: 1024px) {

  .events__swiper-pagination {
    display: inline-block
  }

  .swiper-button-next, .swiper-button-prev {
    display: none
  }
}

}
;
